<h1 class="text-4xl text-white p-2">Busquedas</h1>
<hr class="py-2">

<!-- Links -->
<ul>
    <li class="pl-2 bg-white border-2 p-1 cursor-pointer" routerLink="" routerLinkActive="border-red-500"
        [routerLinkActiveOptions]="{ exact: true }">Por pais</li>
    <li class="pl-2 bg-white border-2 p-1 cursor-pointer" routerLink="region" routerLinkActive="border-red-500">
        Por region</li>
    <li class="pl-2 bg-white border-2 p-1 cursor-pointer" routerLink="capital" routerLinkActive="border-red-500">Por
        capital</li>
</ul>